<div id="push">
<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <nav>
            <ul>
                <i class="fa fa-github" aria-hidden="true"></i>

                <%= link_to "Facebook",  href="https://github.com/TTEasyPayment/Payment_Client_Android", class: "social_share_button_facebook" %>
                 <%= link_to "Github", href="https://github.com/Drashti92/Drashtis-blog", class: "social_share_button_github" %>
           </ul>     
        </nav>
    </div><!--End container-->
</footer><!--End footer 2-->
</div>